__pycache__
data/audio/maestro-v3.0.0/*
data/audio/audio_chunks_10s/*
data/audio/audio_chunks_20s/*
data/styleGAN
data/stft_arrays/*
data/clipped_stft/*
data/resized_stft/*
data/spectrograms/*
data/dc_gan_stuff/*
*.zip
params/*